.color {
  --color-border-400: #334048;
  --color-border-500: #556068;
  --color-border-600: #7e8d95;

  --color-bg-600: #3a3a3c;
  --color-bg-500: #343434;
  --color-bg-400: #2e2d2f;
  --color-bg-300: #1f2021;
  --color-bg-200: #1a1a1b;
  --color-bg-100: #111111;
  --color-bg-000: #000000;
  --color-bg-signal: #fefefe;
  --color-bg-danger: #2f2424;

  --color-text-600: #fefefe;
  --color-text-500: #d1d1d1;
  --color-text-400: #aeaeae;
  --color-text-300: #7e8d95;
  --color-text-100: #334048;

  --color-action-600: #ffffff;
  --color-action-400: #3996ec;
  --color-action-300: #2980d7;
  --color-action-200: #0f447a;
  --color-action-100: #082542;

  --color-crypto-500: #257681;
  --color-crypto-400: #65a8b1;
  --color-crypto-200: #3d686d;
  --color-crypto-100: #21373a;

  --color-signal-danger: #ff3b30;
  --color-signal-on: #32d74b;
  --color-signal-warning: #ffd541;
}

:root {
  --size-max-width: 600px;
  --size-max-height: 600px;

  --font-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --font-base-size: 0.9rem;
  --font-small-size: 0.75rem;
  --font-title-size: 1.4rem;
  --font-base-line-height: 1.25;

  --transition: 0.1s;
  --shadow: 0px 4px 10px #000000;

  --color-white: #fff;
  --color-orange: #d73400;
  --color-pink: #ff4077;
  --color-gray-lightest: #cccccc;
  --color-gray-light: #c0c0c0;
  --color-gray: #9a9a9a;
  --color-dark-light: #262626;
  --color-dark: #151515;
  --color-black: #000000;
  --color-highlight: rgba(255, 255, 255, 0.1);

  --color-button-text: var(--color-dark);
  --color-button-bg-hover: var(--color-gray-lightest);
  --color-app-bg: var(--color-dark);
  --color-button-bg: var(--color-gray-light);
  --color-card-bg: var(--color-dark-light);
  --color-dark-border: var(--color-black);
  --color-error-signal: var(--color-orange);
  --color-main-signal: var(--color-pink);
  --color-main-text: var(--color-gray-light);
  --color-faded-text: var(--color-gray);
}

html {
  box-sizing: border-box;
  font-size: 20px;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--color-app-bg);
  font-family: var(--font-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: var(--size-max-width);
  height: var(--size-max-height);
  margin: 0 auto;
}
